<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

      <div class="card">
        <div class="card-header">
          <img src="../../../assets/images/cfna-logo.png"
               class="img-fluid rounded">
        </div>
        <div class="card-block">

          <h1>Page Not Found</h1>
          <p class="lead">
            The page you were looking for appears to have been moved, deleted, or does not exist.
          </p>
          <p class="lead">
            You could <a (click)="goBack()">go back</a> to where you were, or head to the <a (click)="redirect()">Dashboard</a>.
          </p>

        </div>
      </div>

    </div>
  </div>

</div>
